{# templates/album/_album_tracks_fragment.html #}
{# expects: album, items (AlbumTrack queryset), is_owner (bool) #}

<ul class="list-group">
  {% for at in items %}
    {% with fav=at.is_favorited inpl=at.track.in_playlist|default:False avg=at.track_avg|default:0 cnt=at.track_count|default:0 %}
      {% include "tracks/_track_card.html" with track=at.track album=album album_item_id=at.id is_owner=is_owner at=at show_checkbox=False is_favorited=fav in_playlist=inpl avg=avg count=cnt %}
    {% endwith %}
  {% empty %}
    <li class="list-group-item">No tracks in this album yet.</li>
  {% endfor %}
</ul>
